@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

html {
    font-size: 16px;
    font-family: Lato, sans-serif;
}

p {
    margin: 0;
}

.page-title {
    text-align: center;
    font-weight: 300;
    color: #222;
    margin: 15px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
}

.list__item {
    width: calc(50% - 30px);
    margin: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.list__item.on_sale:before {
    content: 'Sale';
    position: absolute;
    top: -60px;
    left: -60px;
    z-index: 3;
    background-color: #fff;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #222;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 30px;
    padding-bottom: 30px;
}

.list__item_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.list__item_image:before {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

.list__item_image:after {
    content: 'add to cart';
    position: absolute;
    background-color: rgba(255,255,255,0.95);
    background-image: url("../images/shopping-cart.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 10px center;
    color: #808080;
    width: 50%;
    height: 30px;
    z-index: 2;
    text-transform: uppercase;
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: 14px;
}

.list__item:hover .list__item_image:before, .list__item:hover .list__item_image:after {
    display: flex;
}

.list__item_image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.list__item_details {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-between;
    min-height: 130px;
}

.list__item_price {
    text-align: right;
}

.list__item_price--first {
    color: #808080;
    display: block;
    text-decoration: line-through;
}

.list__item_cta {
    width: 100%;
    background-color: grey;
    color: #fff;
    height: 40px;
    border: 0;
    text-transform: uppercase;
    margin-top: 15px;
}

@media (min-width: 576px) {
    .list__item {
        width: calc(33.3333% - 30px);
    }
    .list__item_details {
        flex-direction: row;
        min-height: initial;
    }
    .list__item_name {
        width: 66.6666%;
        margin-right: 10px;
    }

    .list__item_price {
        width: 33.3333%;
        text-align: right;
        color: #222;
        line-height: 1.5;
    }
    .list__item_cta {
        display: none;
    }
}

@media (min-width: 992px) {
    .list__item {
        width: calc(25% - 30px);
    }
}