@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

html {
    font-size: 16px;
    font-family: Lato, sans-serif;
}

.page-title {
    text-align: center;
    font-weight: 300;
    color: #222;
}

.list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.list__item {
    width: calc(25% - 30px);
    margin: 15px;
    cursor: pointer;
}

.list__item_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s;
}

.list__item_image:before {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

.list__item_image:after {
    content: 'add to cart';
    position: absolute;
    background-color: rgba(255,255,255,0.95);
    background-image: url("../images/shopping-cart.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 10px center;
    color: #808080;
    width: 50%;
    height: 30px;
    z-index: 2;
    text-transform: uppercase;
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: 14px;
}

.list__item:hover .list__item_image:before, .list__item:hover .list__item_image:after {
    display: flex;
}

.list__item_image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.list__item_details {
    display: flex;
    font-size: 1rem;
}

.list__item_name {
    width: 66.6666%;
}

.list__item_price {
    width: 33.3333%;
    text-align: right;
    color: #222;
    line-height: 1.5;
}

.list__item_price--first {
    color: #808080;
    display: block;
    text-decoration: line-through;
}